# Tutorial: Cleaning Data in Python
### Marina Kaminsky
#### 03/16/2021

This tutorial demonstrates how to import an excel file into Jupyter notebook, reshape the data frame, and clean the data using the Python.

## Importing, Reading and Displaying the Data File
I begin by importing the "pandas" package, an open source Python package for data analysis. In the code below, I import pandas as "pd." This allows me to call on the pandas package with the shorter name "pd" throughout the rest of the code.

In [1]:
import pandas as pd

I use the next line of code to read an Excel file from Github into my Jupyter notebook. I name the link to the file "Forest" and then use the pandas tool "read_excel" to read the link as an excel file, "marina."

In [2]:
Forest='https://github.com/PUBPOL542G3/Marina/raw/main/FAOSTAT_data_1-21-2021.xls'
marina=pd.read_excel(Forest)

I use the command "marina" to display the data frame and ensure it looks the way I expect it to.

In [3]:
marina

,Domain Code,Domain,Area Code,Area,Element Code,Element,Item Code,Item,Year Code,Year,Unit,Value,Flag,Flag Description
0,GF,Forest Land,2,Afghanistan,5110,Area,6646,Forest land,2000,2000,1000 ha,1208.44,F,FAO estimate
1,GF,Forest Land,2,Afghanistan,5110,Area,6646,Forest land,2001,2001,1000 ha,1208.44,F,FAO estimate
2,GF,Forest Land,2,Afghanistan,5110,Area,6646,Forest land,2002,2002,1000 ha,1208.44,F,FAO estimate
3,GF,Forest Land,2,Afghanistan,5110,Area,6646,Forest land,2003,2003,1000 ha,1208.44,F,FAO estimate
4,GF,Forest Land,2,Afghanistan,5110,Area,6646,Forest land,2004,2004,1000 ha,1208.44,F,FAO estimate
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4889,GF,Forest Land,181,Zimbabwe,5110,Area,6646,Forest land,2016,2016,1000 ha,17628.86,F,FAO estimate
4890,GF,Forest Land,181,Zimbabwe,5110,Area,6646,Forest land,2017,2017,1000 ha,17582.79,F,FAO estimate
4891,GF,Forest Land,181,Zimbabwe,5110,Area,6646,Forest land,2018,2018,1000 ha,17536.72,F,FAO estimate
4892,GF,Forest Land,181,Zimbabwe,5110,Area,6646,Forest land,2019,2019,1000 ha,17490.65,F,FAO estimate
4893,GF,Forest Land,181,Zimbabwe,5110,Area,6646,Forest land,2020,2020,1000 ha,17444.58,F,FAO estimate

## Reshaping the Data Frame
Next, I demonstrate how to reshape the data frame from a long format to a wide format.

I begin by using the "pivot" command to view what my restructured data would will look like. I set the "Area" column from my original data frame as the index in this one, the "Year" column to columns, and the "Values" column to the values, or individual observations.

In [4]:
marina.pivot(index='Area', columns='Year', values='Value')

Year,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
Area,,,,,,,,,,,,,,,,,,,,,
Afghanistan,1208.44,1208.440,1208.440,1208.440,1208.440,1208.440,1208.440,1208.440,1208.440,1208.440,...,1208.4400,1208.440,1208.4400,1208.440,1208.4400,1208.440,1208.4400,1208.440,1208.4400,1208.44
Albania,769.30,770.577,771.854,773.131,774.408,775.685,776.962,778.239,779.516,780.793,...,783.4935,784.917,786.3405,787.764,789.1875,789.130,789.0725,789.015,788.9575,788.90
Algeria,1579.00,1612.900,1646.800,1680.700,1714.600,1748.500,1782.400,1816.300,1850.200,1884.100,...,1925.6000,1933.200,1940.8000,1948.400,1956.0000,1954.600,1953.2000,1951.800,1950.4000,1949.00
American Samoa,17.73,17.700,17.670,17.640,17.610,17.580,17.550,17.520,17.490,17.460,...,17.4000,17.370,17.3400,17.310,17.2800,17.250,17.2200,17.190,17.1600,17.13
Andorra,16.00,16.000,16.000,16.000,16.000,16.000,16.000,16.000,16.000,16.000,...,16.0000,16.000,16.0000,16.000,16.0000,16.000,16.0000,16.000,16.0000,16.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Wallis and Futuna Islands,5.81,5.811,5.812,5.813,5.814,5.815,5.816,5.817,5.818,5.819,...,5.8220,5.824,5.8260,5.828,5.8300,5.830,5.8300,5.830,5.8300,5.83
Western Sahara,669.31,668.890,668.470,668.050,667.630,667.210,666.790,666.370,665.950,665.530,...,665.0280,664.946,664.8640,664.782,664.7000,664.774,664.8480,664.922,664.9960,665.07
Yemen,549.00,549.000,549.000,549.000,549.000,549.000,549.000,549.000,549.000,549.000,...,549.0000,549.000,549.0000,549.000,549.0000,549.000,549.0000,549.000,549.0000,549.00
Zambia,47054.00,47018.200,46982.400,46946.600,46910.800,46875.000,46839.200,46803.400,46767.600,46731.800,...,46507.8200,46319.640,46131.4600,45943.280,45755.1000,45566.886,45378.6720,45190.458,45002.2440,44814.03
Zimbabwe,18365.98,18319.910,18273.840,18227.770,18181.700,18135.630,18089.560,18043.490,17997.420,17951.350,...,17859.2100,17813.140,17767.0700,17721.000,17674.9300,17628.860,17582.7900,17536.720,17490.6500,17444.58

 Next, I create a new data frame "marinawide1," based off of this restructured data.

In [5]:
marinawide1=marina.pivot(index='Area', columns='Year', values='Value')

In case I want to keep additional information from my original data frame, I review the column names from the original data frame below using the ".columns" command.

In [6]:
marina.columns

Index(['Domain Code', 'Domain', 'Area Code', 'Area', 'Element Code', 'Element',
       'Item Code', 'Item', 'Year Code', 'Year', 'Unit', 'Value', 'Flag',
       'Flag Description'],
      dtype='object')

Because my new data frame, "marinawide1" already contains information on year and value, and because I already know that the units stay consistent throughout the data frame, I know I do not need that information. However, I may want to keep all of the other columns from the original data frame. These columns are items 1-8 and 12-14 in the index list above. 

Using the ".columns" command again, I can call on the first 8 items in the list by typing "marina.columns[:8]". Then, I append the additional columns of interest by typing ".append(marina.columns[12:])".

In [7]:
marina.columns[:8].append(marina.columns[12:])

Index(['Domain Code', 'Domain', 'Area Code', 'Area', 'Element Code', 'Element',
       'Item Code', 'Item', 'Flag', 'Flag Description'],
      dtype='object')

Now, I will turn these column names into a list using the ".to_list()" command

In [8]:
marina.columns[:8].append(marina.columns[12:]).to_list()

['Domain Code',
 'Domain',
 'Area Code',
 'Area',
 'Element Code',
 'Element',
 'Item Code',
 'Item',
 'Flag',
 'Flag Description']

Next, I name this list "indexes".

In [9]:
indexes=marina.columns[:8].append(marina.columns[12:]).to_list()

To create a data frame that contains all of the additional information of interest, I can use the ".pivot" command again, but this time I set my index to the "indexes" list I created above. I name this new data frame "marinawide2" and command python to display the data.

In [10]:
marinawide2=marina.pivot(index=indexes, columns='Year', values='Value').reset_index()

marinawide2

Year,Domain Code,Domain,Area Code,Area,Element Code,Element,Item Code,Item,Flag,Flag Description,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,GF,Forest Land,1,Armenia,5110,Area,6646,Forest land,F,FAO estimate,...,330.3520,330.144,329.9360,329.728,329.5200,329.310,329.1000,328.890,328.6800,328.47
1,GF,Forest Land,2,Afghanistan,5110,Area,6646,Forest land,F,FAO estimate,...,1208.4400,1208.440,1208.4400,1208.440,1208.4400,1208.440,1208.4400,1208.440,1208.4400,1208.44
2,GF,Forest Land,3,Albania,5110,Area,6646,Forest land,F,FAO estimate,...,783.4935,784.917,786.3405,787.764,789.1875,789.130,789.0725,789.015,788.9575,788.90
3,GF,Forest Land,4,Algeria,5110,Area,6646,Forest land,F,FAO estimate,...,1925.6000,1933.200,1940.8000,1948.400,1956.0000,1954.600,1953.2000,1951.800,1950.4000,1949.00
4,GF,Forest Land,5,American Samoa,5110,Area,6646,Forest land,F,FAO estimate,...,17.4000,17.370,17.3400,17.310,17.2800,17.250,17.2200,17.190,17.1600,17.13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
233,GF,Forest Land,280,Sint Maarten (Dutch part),5110,Area,6646,Forest land,F,FAO estimate,...,0.3700,0.370,0.3700,0.370,0.3700,0.370,0.3700,0.370,0.3700,0.37
234,GF,Forest Land,281,Saint-Martin (French part),5110,Area,6646,Forest land,F,FAO estimate,...,1.2400,1.240,1.2400,1.240,1.2400,1.240,1.2400,1.240,1.2400,1.24
235,GF,Forest Land,283,Jersey,5110,Area,6646,Forest land,F,FAO estimate,...,0.6000,0.600,0.6000,0.600,0.6000,0.600,0.6000,0.600,0.6000,0.60
236,GF,Forest Land,299,Palestine,5110,Area,6646,Forest land,F,FAO estimate,...,9.9880,10.026,10.0640,10.102,10.1400,10.140,10.1400,10.140,10.1400,10.14
237,GF,Forest Land,351,China,5110,Area,6646,Forest land,A,"Aggregate, may include official, semi-official...",...,202547.1540,204483.928,206420.7020,208357.476,210294.2500,212231.036,214167.8220,216104.608,218041.3940,219978.18

## Dropping Columns
It may also be the case that I want to drop variables (columns) from my re-shaped data. Now, I could have simply left some of the variables out of my "indexes" list, but I would like to demonstrate another way of dropping variables. Ultimately, I only need information on "area" (or country) and values from 2015 in my final data frame.

I use the following loop command to drop all of the columns not named "Area" or "2015". To ensure that my loop will run as expected, I ask Python to print all the column names and "Dont drop it" if the column has either of these two names. For columns named anything else, I use the "else:" command to ask Python to drop the column and print "Drop it".

In [11]:
for col in marinawide2.columns:
    print(col)
    if col == 'Area' or col == 2015:
        print('Dont drop it')
    else:
        marinawide2.drop(columns=col,inplace=True)
        print(' Drop it')

Domain Code
 Drop it
Domain
 Drop it
Area Code
 Drop it
Area
Dont drop it
Element Code
 Drop it
Element
 Drop it
Item Code
 Drop it
Item
 Drop it
Flag
 Drop it
Flag Description
 Drop it
2000
 Drop it
2001
 Drop it
2002
 Drop it
2003
 Drop it
2004
 Drop it
2005
 Drop it
2006
 Drop it
2007
 Drop it
2008
 Drop it
2009
 Drop it
2010
 Drop it
2011
 Drop it
2012
 Drop it
2013
 Drop it
2014
 Drop it
2015
Dont drop it
2016
 Drop it
2017
 Drop it
2018
 Drop it
2019
 Drop it
2020
 Drop it

Now, I rename the "2015" column, which contains forest area values for the year 2015, "forest_area" and I rename the "Area" column "country" because it contains country names. I then display the data frame to review the changes.

In [12]:
marinawide2.rename(columns={2015:'forest_area'},inplace=True)
marinawide2.rename(columns={'Area':'country'},inplace=True)
marinawide2

Year                     country  forest_area
0                        Armenia     329.5200
1                    Afghanistan    1208.4400
2                        Albania     789.1875
3                        Algeria    1956.0000
4                 American Samoa      17.2800
..                           ...          ...
233    Sint Maarten (Dutch part)       0.3700
234   Saint-Martin (French part)       1.2400
235                       Jersey       0.6000
236                    Palestine      10.1400
237                        China  210294.2500

[238 rows x 2 columns]

## Cleaning Country Names

Then, I use the following ".replace" command to rename a number of countries within the data frame. This will allow me to merge my data frame with other data frames that contain more colloquial country names in the future. I name the data frame with the updated country names "marinawide3" and display the data frame before saving it.

In [13]:
marinawide3 = marinawide2.replace({
     "Bolivia (Plurinational State of)":"Bolivia",
    'Brunei Darussalam': 'Brunei',
    'Cabo Verde': 'Cape Verde',
    'Congo': 'Republic of the Congo',
    "CÃ´te d'Ivoire":"Cote d'Ivoire",
    'Czechia': 'Czech Republic',
    "Democratic People's Republic of Korea": 'South Korea',
    'Iran (Islamic Republic of)': 'Iran',
    "Lao People's Democratic Republic":'Lao',
    'Micronesia (Federated States of)': 'Micronesia, Fed. Sts.',
    'Republic of Korea': 'North Korea',
    'Republic of Moldova': 'Moldova',
    'Russian Federation':'Russia',
    'Saint Kitts and Nevis':'St. Kitts and Nevis',
    'Saint Lucia':'St. Lucia',
    'Saint Vincent and the Grenadines':'St. Vincent and the Grenadines',
    'Syrian Arab Republic':'Syria',
    'United Kingdom of Great Britain and Northern Ireland':'United Kingdom',
    'United Republic of Tanzania':'Tanzania',
    'United States of America':'United States',
    'Venezuela (Bolivarian Republic of)':'Venezuela',
    'Viet Nam':'Vietnam'
})
display(marinawide3)

Year                     country  forest_area
0                        Armenia     329.5200
1                    Afghanistan    1208.4400
2                        Albania     789.1875
3                        Algeria    1956.0000
4                 American Samoa      17.2800
..                           ...          ...
233    Sint Maarten (Dutch part)       0.3700
234   Saint-Martin (French part)       1.2400
235                       Jersey       0.6000
236                    Palestine      10.1400
237                        China  210294.2500

[238 rows x 2 columns]

Finally, I save the cleaned and reformatted data frame to my desktop as an excel file, naming it "marina_cleaned.xlsx"

In [14]:
marinawide3.to_excel(r'/Users/MarinaKaminsky/Desktop/marina_cleaned.xlsx', sheet_name='Forested Area', index = False)